<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TuxML</title>
  <link rel="icon" type="image/png" href="https://avatars0.githubusercontent.com/u/32133780?s=100" />

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='css/portf.css') }}" rel="stylesheet">

</head>

<body id="page-top" class="static-bg">



  <!-- Header -->
  <header class="masthead d-flex">
    <div class="mx-auto shadow-lg text-center my-auto">
      <div class="card p-4">
        <div>
      <img  src="https://avatars0.githubusercontent.com/u/32133780?s=200&v=4" alt="">
      <h1 class="mb-1">TuxML</h1>
      <h2 class="mb-5">
        <em>Sampling, mesuring and learning
          <br>Linux kernel configurations</em>
      </h2>
      <h3>
        <em>Currently learning from <br><b>{{count}}</b> contributions</em>
      </h3>
        <a class="btn btn-primary btn-xl mt-3" href= "/data/?interest=compilation_date&interest=compilation_time&interest=compiled_kernel_size&interest=compiled_kernel_version"> Show me some data ! </a>
            <br><a class="btn btn-primary btn-xl mt-3" href= "/stats/"> Explore the interactive stats playbook (Preview) </a>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </header>


</body>

</html>
