<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TuxML</title>
  <link rel="icon" type="image/png" href="https://avatars0.githubusercontent.com/u/32133780?s=100" />
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='css/portf.css') }}" rel="stylesheet">



</head>

<body id="page-top" class="static-bg">



  <!-- Header -->
  <header class="masthead d-flex">
	  <div class = "card w-75 mx-auto my-auto ">
		  <div class ="m-4">
		  <h2><a class = "tux" href = "../../..">TuxML</a>/<a style="color:#212529;" href = "../..?interest=compilation_date&interest=compilation_time&interest=compiled_kernel_size&interest=compiled_kernel_version">data</a>/<b><a style="color: grey;">Configuration {{config['cid']}}</a></b></h2>
		  </div>
		<div class="card mx-100 my-auto shadow-lg align-content-start flex-row align-middle">
			<div class="m-4 x-8 w-60 bd-highlight">
				<h2>Compilation information</h2>
				<b>Date: </b> {{config['compilation_date']}} <br>
				<b>Duration of the build: </b> {{format_time(config['compilation_time'])}}<br>
				<b>Kernel version: </b> <a href ="../../../data?laversion={{config['compiled_kernel_version']}}&interest=compilation_date&interest=compilation_time&interest=compiled_kernel_size&interest=compiled_kernel_version"> {{config['compiled_kernel_version']}}</a><br />
				<b>Compiled kernel size: </b> {% if config['compiled_kernel_size'] == -1  %} 0 (Compilation failed) {% else %} {{format_size(config['compiled_kernel_size'], "Mb")}} {% endif %} <br>
				<b>Compressed compiled kernel size: </b><div class="card p-2"> {{config['compressed_compiled_kernel_size']}} </div><br />
				<b>Downloads: </b> 
				<a href ="config" class="btn m-2 btn-primary">Config</a>
				<a href ="stdout" class="btn m-2 btn-primary">Log</a>
				<a href ="stderr" class="btn m-2 btn-primary">Error log</a>
				<a href ="userOutput" class="btn m-2 btn-primary">User output</a>
				<br><br>
				<b>Dependencies: </b><div class="card p-2"> {{config['dependencies']}} </div><br />
				<b>Tag/comment: </b> {{tagconfig}} <br />
				</div>
		<div class="m-4 p-4 w-40 card ml-auto shadow-lg"style="flex-shrink: 0;">
			<h2>Build environment</h2><br>
			<h5>Software</h5>
			<b>System: </b> {{sconfig['system_kernel']}} {{sconfig['system_kernel_version']}} <br>
			<b>Distribution: </b> {{sconfig['linux_distribution']}} {{sconfig['linux_distribution_version']}} <br>
			<b>Compiler version: </b> {{sconfig['compiler_version']}} <br>
			<b>LibC version: </b> {{sconfig['libc_version']}} <br>
			<b>TuxML version: </b> {{sconfig['tuxml_version']}} <br>
			<br>
			<h5>Hardware</h5>
			<b>Architecture: </b> {{hconfig['architecture']}} <br>
			<b>CPU: </b> {{hconfig['cpu_brand_name']}} <br>
			<b>CPU cores: </b> {{hconfig['number_cpu_core']}} <br>
			<b>CPU Max Frequency: </b> {{hconfig['cpu_max_frequency']}} MHz <br>
			<b>RAM: </b> {{format_size(hconfig['ram_size'], "Gb")}}<br>
			<b>Mechanical hard drive: </b> {% if hconfig['mechanical_disk'] == 1  %} Yes {% else %} No {% endif %} <br />
			</div>
		</div>
	  </div>
	<div class="overlay"></div>
  </header>

</body>

</html>
