<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>TuxML</title>
	<link rel="icon" type="image/png" href="https://avatars0.githubusercontent.com/u/32133780?s=100" />
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/portf.css') }}" rel="stylesheet">

</head>
<body id="page-top" class="static-bg">
	<div class="masthead d-flex">
		<div class="card w-75 m-auto shadow-lg align-content-start flex-row align-middle">
			<div class="m-4 bd-highlight">
				<div class="mx-auto text-center">
					<a href=".."><img  src="https://avatars0.githubusercontent.com/u/32133780?s=150&v=4" alt="" ></a>
					<h2 class="mt-2"><a class ="tux" href ="..">TuxML</a>/data</h2>



					<!--
						Kernel version to show
					-->
					<div class = "mt-4 mb-n3"><label for="kerver"><h3>Kernel version to show</h3></label></div>					 
					<select name="version" id="kerver" onchange="location = this.value;">
						{% for row in versions %}
						{% for d in row %}
						<option  {% if d == laversion  %} selected="selected" {% endif %} value="/data/?laversion={{d}}&numberOfNuplet={{numberOfNuplet}}&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}"> {{ d }} </a></option>
						{% endfor %}
						{% endfor %}
					</select>
					<hr/>


					<!--
						Number of rows displayed
					-->
					<div class = "mt-2 mb-n3"><label for="kerver"><h3>Number of rows displayed</h3></label></div>
					<select name="numberOfNuplet" id="kerver" onchange="location = this.value;">
						<option {% if 10 == numberOfNuplet %} selected="selected" {% endif %} value="/data/?laversion={{laversion}}&numberOfNuplet=10&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}"> 10 </a></option>
						<option {% if 20 == numberOfNuplet %} selected="selected" {% endif %} value="/data/?laversion={{laversion}}&numberOfNuplet=20&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}"> 20 </a></option>
						<option {% if 50 == numberOfNuplet %} selected="selected" {% endif %} value="/data/?laversion={{laversion}}&numberOfNuplet=50&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}"> 50 </a></option>
						<option {% if 100 == numberOfNuplet %} selected="selected" {% endif %} value="/data/?laversion={{laversion}}&numberOfNuplet=100&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}"> 100 </a></option>
						<option {% if 200 == numberOfNuplet %} selected="selected" {% endif %} value="/data/?laversion={{laversion}}&numberOfNuplet=200&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}"> 200 </a></option>
					</select>
					<hr/>


					<!--
						Page navigation
					-->
					<div class = "mt-2"><h3 class="mb-1">Page</h3>
						<div>
							<div class="shadow-sm flex-row d-flex align-items-center justify-content-between mb-2">
								<a class="btn" href="?laversion={{laversion}}&numberOfNuplet={{numberOfNuplet}}&page={{ page - 1}}&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}">  < </a>
								<a>  <b>{{page}}</b> </a>
								<a class="btn" href="?laversion={{laversion}}&numberOfNuplet={{numberOfNuplet}}&page={{ page + 1}}&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}">  > </a>
							</div>
							<div class="flex-row d-flex align-items-center justify-content-between">
								<a class="btn" {% if (page > 1) %} href="?laversion={{laversion}}&numberOfNuplet={{numberOfNuplet}}&page=1&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}" {%endif%} >First</a> 
								<a class="btn" {% if page!=((count/numberOfNuplet)|round(method='ceil')|int) %} href="?laversion={{laversion}}&numberOfNuplet={{numberOfNuplet}}&page={{(count/numberOfNuplet)|round(method='ceil')|int}}&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}" {%endif%}  >Last</a>
							</div>
						</div>
						<hr/>
						<h3 class="mt-2 mb-2">Showing {{ page * numberOfNuplet + 1 - numberOfNuplet }} to {{ page * numberOfNuplet }} of {{ count }} entries</h3>
						<hr/>									 
					</div>


					<!--
						Looking for a specific configuration 
					-->
					<form id = "specificID">
						<div class = "mt-2 mb-n2"><label for="kerver"><h3>Looking for a specific configuration ?</h3></label></div>
						<div class="d-flex flex-row align-items-center">
							<div class ="">
						<input type="text" class="form-control" onchange="document.getElementById('specificID').action = 'configuration/'+this.value;" placeholder="CID"></div>
						<div class ="">
						<button class="btn m-2 btn-primary p-2 " type="submit">GO</button></div>
						</div>
					</form>
					<hr/>

					<!--
						Customise columns layout form
					-->
					<form>

						<input type="hidden" name="numberOfNuplet" value="{{numberOfNuplet}}">
						<input type="hidden" name="laversion" value="{{laversion}}">
						<input type="hidden" name="page" value="{{page}}">
						<input type="hidden" name="sortBy" value="{{sortBy}}">
						<input type="hidden" name="ascend" value="{{ascend}}">

						<h3 class="mt-2 mb-2">Customise columns layout</h3>
						<div class="align-content-start text-left">
							<fieldset class ="fieldset_columns_layout">
								<legend class ="legend_columns_layout">compilation information</legend>							

								<div class= "my-0">
									<input type="checkbox" id="compilation_date" name="interest" value="compilation_date" {% for e in interest %} {% if e == "compilation_date" %} checked {% endif %} {% endfor %} >
									<label for="compilation_date">Compilation Date</label>
								</div>
								<div class= "my-n1">
									<input type="checkbox" id="compilation_time" name="interest" value="compilation_time" {% for e in interest %} {% if e == "compilation_time" %} checked {% endif %} {% endfor %}  >
									<label for="compilation_time">Compilation Time</label>
								</div>
								<div class= "my-n1">
									<input type="checkbox" id="compiled_kernel_size" name="interest" value="compiled_kernel_size" {% for e in interest %} {% if e == "compiled_kernel_size" %} checked {% endif %} {% endfor %} >
									<label for="compiled_kernel_size">Compiled Kernel Size</label>
								</div>
								<div class="mr-n3 my-n1">
									<input type="checkbox" id="compiled_kernel_version" name="interest" value="compiled_kernel_version" {% for e in interest %} {% if e == "compiled_kernel_version" %} checked {% endif %} {% endfor %} >
									<label for="compiled_kernel_version">Compiled Kernel Version</label>
								</div>
								<div class="mr-n3 my-n1">
									<input type="checkbox" id="compressed_compiled_kernel_size" name="interest" value="compressed_compiled_kernel_size" {% for e in interest %} {% if e == "compressed_compiled_kernel_size" %} checked {% endif %} {% endfor %} >
									<label for="compressed_compiled_kernel_size">Compressed Compiled Kernel Size</label>
								</div>
								<div class="mr-n3 my-n1">
									<input type="checkbox" id="number_cpu_core_used" name="interest" value="number_cpu_core_used" {% for e in interest %} {% if e == "number_cpu_core_used" %} checked {% endif %} {% endfor %} >
									<label for="number_cpu_core_used">Number Cpu Core Used</label>
								</div>

							</fieldset>

							<fieldset class ="fieldset_columns_layout">
								<legend class ="legend_columns_layout">software environment</legend>

								<div class="mr-n3 my-n1">
									<input type="checkbox" id="gcc_version" name="interest_software" value="gcc_version" {% for e in interest_software %} {% if e == "gcc_version" %} checked {% endif %} {% endfor %} >
									<label for="gcc_version">Gcc Version</label>
								</div>
								<div class="mr-n3 my-n1">
									<input type="checkbox" id="libc_version" name="interest_software" value="libc_version" {% for e in interest_software %} {% if e == "libc_version" %} checked {% endif %} {% endfor %} >
									<label for="libc_version">Libc Version</label>
								</div>
								<div class="mr-n3 my-n1">
									<input type="checkbox" id="linux_distribution" name="interest_software" value="linux_distribution" {% for e in interest_software %} {% if e == "linux_distribution" %} checked {% endif %} {% endfor %} >
									<label for="linux_distribution">Linux Distribution</label>
								</div>
								<div class="mr-n3 my-n1">
									<input type="checkbox" id="linux_distribution_version" name="interest_software" value="linux_distribution_version" {% for e in interest_software %} {% if e == "linux_distribution_version" %} checked {% endif %} {% endfor %} >
									<label for="linux_distribution_version">Linux Distribution Version</label>
								</div>
								<div class="mr-n3 my-n1">
									<input type="checkbox" id="system_kernel" name="interest_software" value="system_kernel" {% for e in interest_software %} {% if e == "system_kernel" %} checked {% endif %} {% endfor %} >
									<label for="system_kernel">System Kernel</label>
								</div>
								<div class="mr-n3 my-n1">
									<input type="checkbox" id="system_kernel_version" name="interest_software" value="system_kernel_version" {% for e in interest_software %} {% if e == "system_kernel_version" %} checked {% endif %} {% endfor %} >
									<label for="system_kernel_version">System Kernel Version</label>
								</div>
								<div class="mr-n3 my-n1">
									<input type="checkbox" id="tuxml_version" name="interest_software" value="tuxml_version" {% for e in interest_software %} {% if e == "tuxml_version" %} checked {% endif %} {% endfor %} >
									<label for="tuxml_version">TuxML Version</label>
								</div>

							</fieldset>

						</div>
						<button class="btn m-2 px-3 mt-0 btn-primary" type="submit">Apply</button><br>
						
					</form>
					<hr/>


					<!--
						Compare	
					-->
      				<button class="btn m-2 px-3 mt-0 btn-primary" onclick="window.location.href = '/data/?laversion={{laversion}}&numberOfNuplet={{numberOfNuplet}}&page={{page}}&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}&compare=True';">Comparison tool</button>


				</div>
			</div>

			



			<!--
				Table	
			-->
			<div class="my-4 mr-4 w-100 card shadow-lg" style="display: flex; overflow-x: auto;">
				<table class="table" style="text-align:center;}">
					<thead>
						<tr>
							<th scope="col"><a style="color:#212529;" href="?laversion={{laversion}}&numberOfNuplet={{numberOfNuplet}}&page={{1}}&sortBy=cid&ascend={{not(ascend) if sortBy == 'cid' else False}}{{url_interest}}{{url_interest_software}}">CID {% if sortBy == "cid" %} {% if ascend %} ⬆ {% else %} ⬇ {% endif %} {% endif %} </a></th>

							{% for e in interest %}
								<th scope="col"><a style="color:#212529;" href="?laversion={{laversion}}&numberOfNuplet={{numberOfNuplet}}&page={{1}}&sortBy={{e}}&ascend={% if sortBy == e %}{{not(ascend)}}{% else %}False{% endif %}{{url_interest}}{{url_interest_software}}">{{(e | replace("_", " ")).title()}} {% if sortBy == e %} {% if ascend %} ⬆ {% else %} ⬇ {% endif %} {% endif %}</th>
							{% endfor %}

							{% for e in interest_software %}
								<th scope="col"><a style="color:#212529;" href="?laversion={{laversion}}&numberOfNuplet={{numberOfNuplet}}&page={{1}}&sortBy={{e}}&ascend={% if sortBy == e %}{{not(ascend)}}{% else %}False{% endif %}{{url_interest}}{{url_interest_software}}">{{(e | replace("_", " ")).title()}} {% if sortBy == e %} {% if ascend %} ⬆ {% else %} ⬇ {% endif %} {% endif %}</th>
							{% endfor %}


							
						</tr>
					</thead>

					<tbody class="compare_compilation">
						{% for row in query_compare_compilation %}
						<tr>
							{% for e in row %}
								{% if loop.first %}
									<td> <a href="/data/configuration/{{e}}/">  {{ e }}</a> </td>
								{% else %}
									<td> {{e}} </td>
								{% endif %}							
							{% endfor %}
							{% if compare %}
								<td> <form> <input type="checkbox" onclick="window.location.href = '/data/?laversion={{laversion}}&numberOfNuplet={{numberOfNuplet}}&page={{page}}&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}&compare=True{{url_compare_cid_list}}&remove_compare_cid={{row[0]}}';" checked  ></form>  </td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>

					<tbody>
						{% for row in ten %}
						<tr>
							{% for e in row %}
								{% if loop.first %}
									<td> <a href="/data/configuration/{{e}}/">  {{ e }}</a> </td>
								{% else %}
									<td> {{e}} </td>
								{% endif %}
							{% endfor %}
							{% if compare %}
								<td> <form> <input type="checkbox" onclick="window.location.href = '/data/?laversion={{laversion}}&numberOfNuplet={{numberOfNuplet}}&page={{page}}&sortBy={{sortBy}}&ascend={{ascend}}{{url_interest}}{{url_interest_software}}&compare=True{{url_compare_cid_list}}&compare_cid_list={{row[0]}}{% for e in compare_cid_list %}{% if e == row[0] %}&remove_compare_cid={{row[0]}}{% endif %}{% endfor %}';" {% for e in compare_cid_list %} {% if e == row[0] %}   checked {% endif %} {% endfor %}></form>  </td>
							{% endif %}
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>



		</div>
	</div>


</body>

</html>
