<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>TuxML</title>
	<link rel="icon" type="image/png" href="https://avatars0.githubusercontent.com/u/32133780?s=100" />
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/portf.css') }}" rel="stylesheet">

</head>
<body id="page-top" class="static-bg">
	<div class="masthead d-flex">
		<div class="card w-75 m-auto shadow-lg align-content-start flex-row align-middle">
			<div class="m-4 bd-highlight">
				<div class="mx-auto text-center">
					<a href=".."><img class="shadow-wow" src="https://avatars0.githubusercontent.com/u/32133780?s=150&v=4" alt="" ></a>
					<h2 class="mt-1"><a class ="tux" href ="..">TuxML</a>/stats</h2>



                    {% include 'menu.html' %}

                <hr>
                    <b>Notebooks</b>
                <p class="align-left">
                    {% for b in notebooks %}
                        <div class=" m-2 align-left card shadow-sm p-1" >
                        <a href="#{{ b[1] }}">{{ b[1] }}</a>
                        </div>
                    {% endfor %}
                </p>


				</div>
			</div>

			



			<!--
				Table
				<iframe width="100%" id="iframenb" scrolling="no" frameborder="0" src="../voila/voila/render/stats.ipynb"></iframe>
			-->
			<div class="my-4 mr-4 w-100 card shadow-lg" style="display: flex; overflow-x: auto;">
                {% for b in notebooks %}
                    <a id="{{ b[1] }}"></a>
                    <div class="mt-3 ml-4"> <b> {{ 'Notebook : ' +b[1]}}</b> <br/>{{'Last update : ' + b[2] }}</div>
                    <div class="mt-3 mb-4 mr-4 w-100 card shadow-lg" style="display: flex; overflow-x: auto;">
                        {% include 'statsData/' + b[0]  %}
                    </div>
                    <a href="#" class="m-2 card shadow-sm align-center p-1 w-10 button" style="text-align:center">⬆ Jump to top ⬆</a>
                {% endfor %}
			</div>



		</div>
	</div>


</body>
</html>
