<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>TuxML</title>
	<link rel="icon" type="image/png" href="https://avatars0.githubusercontent.com/u/32133780?s=100" />
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/portf.css') }}" rel="stylesheet">

</head>
<body id="page-top" class="static-bg">
	<div class="masthead d-flex">
		<div class="card w-75 m-auto shadow-lg align-content-start flex-row align-middle">
			<div class="m-4 bd-highlight">
				<div class="mx-auto text-center">
					<a href=".."><img  src="https://avatars0.githubusercontent.com/u/32133780?s=150&v=4" alt="" ></a>
					<h2 class="mt-2"><a class ="tux" href ="..">TuxML</a>/stats</h2>

                    Technical preview

				</div>
			</div>

			



			<!--
				Table	
			-->
			<div class="my-4 mr-4 w-100 card shadow-lg" style="display: flex; overflow-x: auto;">
				<iframe width="100%" id="iframenb" scrolling="no" frameborder="0" src="../voila/voila/render/stats.ipynb"></iframe>
			</div>



		</div>
	</div>


</body>
<script type="application/javascript">
    /*
    // Select the node that will be observed for mutations
    const targetNode = document.getElementById('iframenb').contentWindow.document.body;

    // Options for the observer (which mutations to observe)
    const config = { attributes: true, characterData: true, childList: true, subtree: true };

    const callback = function(mutationsList, observer) {
        console.log("hehe")
        resizeIframe(document.getElementById('iframenb'))
        // Use traditional 'for loops' for IE 11
        for(const mutation of mutationsList) {
            if (mutation.type === 'childList') {
                console.log('A child node has been added or removed.');
            }
            else if (mutation.type === 'attributes') {
                console.log('The ' + mutation.attributeName + ' attribute was modified.');
            }
        }
    };

    // Create an observer instance linked to the callback function
    const observer = new MutationObserver(callback);

    console.log(targetNode)

    // Start observing the target node for configured mutations
    observer.observe(targetNode, config);

    */ //Rip poor code that never worked

    function resizeIframe(iframe) {
        iframe.height = (iframe.contentWindow.document.body.scrollHeight +10) + "px";
    }

    frame = document.getElementById('iframenb')

    window.addEventListener('load', function () {
        setInterval(function (){resizeIframe(frame)}, 500); //Not pretty, but it actually works better than the mutationObserver way for this case
    })
</script>
</html>
